#home{
  display: inline-block;
  margin-left: 90%;
}
.labels{
  display: inline-block;
  width: 20%;
  vertical-align: top;
}
.info{
  display: inline-block;
  width: 20%;
}
#green{
  background-color: green;
  margin-left: 4%;
  margin-right: 4%;
}
#blue{
  background-color: blue;
}
#orange{
  background-color: orange;
}
